[messages control]
disable = bare-except,
          duplicate-code,
          broad-exception-raised,
          too-few-public-methods,
          too-many-arguments,
          too-many-branches,
          too-many-instance-attributes,
          too-many-lines,
          too-many-locals,
          too-many-public-methods,
          too-many-statements
